<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Telerik UI for ASP.NET Core 2023.1.314(AdditionalPackages)" value="C:\Program Files (x86)\Progress\Telerik UI for ASP.NET Core R1 2023\" />
    <add key="Telerik UI for ASP.NET Core 2023.1.314(MainPackage)" value="C:\Program Files (x86)\Progress\Telerik UI for ASP.NET Core R1 2023\wrappers\aspnetcore\Binaries\AspNet.Core" />
    <add key="Telerik Blazor 4.1.0" value="C:\Program Files (x86)\Progress\Telerik UI for Blazor 4.1.0\" />
    <add key="Telerik Blazor 4.2.0" value="C:\Users\AdamM2\AppData\Roaming\Telerik\Updates\telerik.ui.for.blazor.hotfix.4.2.0.commercial\" />
  </packageSources>
</configuration>