<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <IsLoggedIn>true</IsLoggedIn>
  <TemplateFolderLocation>C:\Users\AdamM2\OneDrive - Zonal Retail Data Systems Limited\Desktop\TariffNotesNStuff</TemplateFolderLocation>
  <CSVFileLocation>C:\Users\AdamM2\OneDrive - Zonal Retail Data Systems Limited\Desktop\TariffNotesNStuff\New folder</CSVFileLocation>
  <WordFileLocation>C:\Users\AdamM2\OneDrive - Zonal Retail Data Systems Limited\Desktop\TariffNotesNStuff\New folder\Test.docx</WordFileLocation>
  <LibreLocation>C:\Users\AdamM2\Downloads\LibreOfficePortable\LibreOfficePortable.exe</LibreLocation>
  <APIBaseAddress>https://localhost:7268</APIBaseAddress>
</Settings>