<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <IsLoggedIn>true</IsLoggedIn>
  <CSVFileLocation>C:\Users\AdamM2\OneDrive - Zonal Retail Data Systems Limited\Desktop\TariffNotesNStuff\New folder</CSVFileLocation>
  <APIBaseAddress>https://localhost:7268</APIBaseAddress>
  <PDFOuputFilesLocation>C:\Users\AdamM2\OneDrive - Zonal Retail Data Systems Limited\Desktop\TariffNotesNStuff\New folder</PDFOuputFilesLocation>
</Settings>