<div id="overlay">
    <div class="d-flex justify-content-center align-items-center">
        

        
        <div id="overlay-text">
            <div class="spinner-grow" style="width: 10rem; height: 10rem;" role="status"></div>
                
            
            @*<p>Loading...</p>*@
        </div>
    </div>
</div>