@namespace AztecTariff.Shared

@if (isVisible)
{
    <div class="toast show @color" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            @message
        </div>
    </div>
}
else
{
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
}
@code {
    public bool isVisible { get; set; }
    public string message { get; set; }
    string color = "";

    public async Task DisplayMessage(string _message)
    {
        message = _message;
        isVisible = true;
        await InvokeAsync(() => StateHasChanged());
        await Task.Delay(3000);
        isVisible = false;
        await InvokeAsync(() => StateHasChanged());
    }

    public async Task DisplayMessage(string _message, string _color)
    {
        message = _message;
        color = _color;
        isVisible = true;
        await InvokeAsync(() => StateHasChanged());
        await Task.Delay(3000);
        isVisible = false;
        await InvokeAsync(() => StateHasChanged());
    }
}