@namespace AztecTariff.Shared

<div class="position-absolute bottom-0 end-0">
    <div >
        <div class="toast-body">
        
        <label>Hello world</label>
        </div>
    </div>
</div>

@code {
    public bool isVisible { get; set; }
    public string message { get; set; }
    string color = "";

    public async Task DisplayMessage(string _message)
    {
        message = _message;
        isVisible = true;
        await InvokeAsync(() => StateHasChanged());
        await Task.Delay(3000);
        isVisible = false;
        await InvokeAsync(() => StateHasChanged());
    }

    public async Task DisplayMessage(string _message, string _color)
    {
        message = _message;
        color = _color;
        isVisible = true;
        await InvokeAsync(() => StateHasChanged());
        await Task.Delay(3000);
        isVisible = false;
        await InvokeAsync(() => StateHasChanged());
    }
}